@font-face {
  font-family: "Nunito";
  src: local("Nunito-Bold"),
  url("../font/Nunito/Nunito-Bold.ttf") format("truetype");
  font-weight: bold;
}

@font-face {
  font-family: "Nunito";
  src: local("Nunito"),
  url("../font/Nunito/Nunito-Regular.ttf") format("truetype");
  font-weight: bold;
}

@font-face {
  font-family: "Nunito";
  src: local("Nunito-Light"),
  url("../font/Nunito/Nunito-Light.ttf") format("truetype");
  font-weight: bold;
}

* {
  font-family: Nunito, sans-serif;
}

.home, publication {
  background-color: #f1f1f1;
}

.item-publication {
  background-color: #f2f1f1;
  margin-bottom: 1em;
  box-shadow: 0px 4px 9px #d8d8d8;
  border-radius: 10px;
}

.item-commentary {
  background-color: #eaeaea;
  margin-bottom: 1em;
}

.publication-photo {
  width: 40px;
  height: 40px;
  border-radius: 50%;
}

h2, h3 {
  text-align:center;
}

header {
  background-color: #0E6BA8 !important;
}
.footer{
  background:#ccc;
  bottom:0;
  width:100%;
  padding-top:50px;
  height:50px;
}

.css-1633um2-MuiPaper-root {
  padding:0 !important;
  font-family: Nunito, sans-serif;
}
